th, td{

    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: rgb(255, 115, 64);
    color: white;
}

.tempo {
    background-color: rgb(255, 115, 64);
    color: white;
}

td{
    background-color: rgb(241, 241, 241);
}